<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoodTube</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/style.css" />

    <script
      src="https://kit.fontawesome.com/3d8df9be04.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="navbar">
        {% if not is_logged_in %}
        <a href="/login"><button>LOGIN</button></a>
        {% endif %}
        <img src="/static/assets/img/logo.png" alt="" />
      </div>
      <div class="herof">
        <div class="hero">
          <p>Search and Know</p>
          <p>Before Watch</p>

          <a href="/search"
            ><button>
              Start Analyse <i class="fa-solid fa-arrow-right"></i></button
          ></a>
        </div>
        <div class="hero2">
          <!-- <video src="/static/assets/img/Data analysis.mp4"></video> -->
          <!-- <img
            src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExbjNxZmpyeXRya2c2cDltYnNsZHgzNHEzcHUzaXkwbWQ1MGQ2dWxwNyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/JrXas5ecb4FkwbFpIE/giphy.gif"
            alt=""
          /> -->
          <!-- <video src="/static/assets/img/test.mp4"></video> -->
        </div>
      </div>
    </div>
  </body>
</html>
